html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    color: #1c1e2ebb; 
}

@font-face {
	font-family: 'Quicksand';
	src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
}

.navigation-bar {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.btn-nav-bar {
    padding-left: 1em;
    font-family: 'Quicksand', sans-serif;
    color: #1c1e2e; 
}

.btn-nav-bar * {
    display: inline-block;
    vertical-align: middle;
    font-size: large;
}

.content{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.content .info-page, .content .locandina{
    display: inherit;
    justify-content: inherit;
    flex-direction: column;
    align-items: center;
}

.content img{
    width: 100%;
    height: auto;
}

.content .emphasis-title{
    font-size: xx-large;
    font-family: 'Quicksand', sans-serif;
    color: #1c1e2e; 
}

.link-options{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.buttons{
    margin-right: 10px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 1.5rem;
    color: #ed6524;
    border-color: #ed6524;
}

.buttons:hover{
    background-color: #ed6524;
    color: whitesmoke;
}

